.vs/*
*.pdb
*.exe
*.application
samrtCheckPF/obj/*
samrtCheckPF/bin/SmartCheckPF/DataBase/*
samrtCheckPF/bin/Release/*
samrtCheckPF/bin/SmartCheckPF/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/app.publish/*
samrtCheckPF/bin/SmartCheckPF/function/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/log/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/dataset/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/detect/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/models/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/models/networks/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/utils/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Registration/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/SVM/__pycache__/*

AutoUpdater/obj/*
samrtCheckPF/bin/SmartCheckPF/Zbardecode/ZbarDecode/obj/
samrtCheckPF/bin/SmartCheckPF/SmartCheckPF.exe.manifest
samrtCheckPF/bin/SmartCheckPF/log.txt
samrtCheckPF/bin/SmartCheckPF/alg/*
samrtCheckPF/bin/SmartCheckPF/checkImages/*
samrtCheckPF/bin/SmartCheckPF/commitFailedImages/*
samrtCheckPF/bin/SmartCheckPF/Zbardecode/ZbarDecode/bin/Debug/cutimage.png
samrtCheckPF/bin/SmartCheckPF/Zbardecode/ZbarDecode/bin/Debug/cutimage.jpg
samrtCheckPF/bin/SmartCheckPF/barcode.db
samrtCheckPF/bin/SmartCheckPF/zxingtestfail/cutimage.jpg
samrtCheckPF/bin/SmartCheckPF/function/model/*

samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/yolo/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/yolo/ckpt/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/yolo/utils/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/SegmentALG/__pycache__/*

samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/resnet/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Classification/resnet/models/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/CheckSimilar/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/YOLO/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/YOLO/models/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/YOLO/utils/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Interface/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Segmenteation/STM/model.pth
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/YOLO/dataset/__pycache__/*
*/__pycache__
samrtCheckPF/bin/SmartCheckPF/function/lib/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/CenterNet/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Interface/GluePath/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Segmenteation/STM/__pycache__/*
samrtCheckPF/bin/SmartCheckPF/function/lib/Detection/CenterNet/models/networks/__pycache__/*
